body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.page {
    width: 794px;
    min-height: 1123px;
    background: rgba(241, 231, 191, 0.658);
    margin: 30px auto;
    padding: 50px;
    border: 2px solid black;
}


.profile-pic {
    width: 200px;
    height: 200px;
    float: right;
    object-fit: cover;

    border: 2px solid black;   /* red border */
    border-radius: 50%;      /* makes the image circular */
}



h1 {
    text-align: left;
    font-size: 40px;
    margin-left: auto;
    margin-bottom: 20px;
    color: #004d40;
}

p {
    font-size: 20px;
    line-height: .5;
}



.personal h2 {
    font-size: 30px;
    color: #004d40;
    margin-bottom: 10px;
}

.personal p {
    font-size: 18px;
    line-height: 1.2;
    color: #333;
}


h3 {
    text-align: left;
    font-size: 30px;
    margin-left: auto;
    margin-bottom: 20px;
    color: #004d40;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background-color: #cef5e5;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 18px;
}

.skills ul li {
    font-size: 18px;
    line-height: 1.3;
    color: #333;
    margin-bottom: 6px;
}